from PyQt5.QtWidgets import QApplication, QMainWindow, QLabel, QPushButton, QGridLayout, QWidget, \
    QScrollArea, QInputDialog, QFileDialog, QTextEdit
from PyQt5.QtGui import QPixmap, QImage
import sqlite3
import sys
from PyQt5.QtCore import Qt
from PyQt5.QtGui import QFont
from PIL import Image
